{% load static %}
<script src="{% static 'penplus/vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'penplus/vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'penplus/vendors/is/is.min.js' %}"></script>
<script src="{% static 'penplus/vendors/bigpicture/BigPicture.js' %}"> </script>
<script src="{% static 'penplus/vendors/countup/countUp.umd.js' %}"> </script>
<script src="{% static 'penplus/vendors/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'penplus/vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'penplus/vendors/lodash/lodash.min.js' %}"></script>
<script src="{% static 'penplus/vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'penplus/vendors/gsap/gsap.js' %}"></script>
<script src="{% static 'penplus/vendors/gsap/customEase.js' %}"></script>
<script src="{% static 'penplus/assets/js/theme.js' %}"></script>